@using MiPrimerAplicacion.Models
@model EmpleadoCLS

@{
    ViewBag.Title = "Agregar";
    List<SelectListItem> listaSexo = (List<SelectListItem>) ViewBag.listaSexo;
    List<SelectListItem> listatipousuario = (List<SelectListItem>) ViewBag.listatipousuario;
    List<SelectListItem> listatipocontrato = (List<SelectListItem>) ViewBag.listatipocontrato;
}

<h2>Nuevo Empleado</h2>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Agregar","Empleado", FormMethod.Post))
        {
            <div>
                @Html.LabelFor(p=>p.nombre)
                @Html.TextBoxFor(p=>p.nombre, new {@class="form-control"})
                @Html.ValidationMessage("nombre", new {@class="text-danger"})
            </div>
            <div>
                @Html.LabelFor(p=>p.apPaterno)
                @Html.TextBoxFor(p=>p.apPaterno, new {@class="form-control"})
                @Html.ValidationMessage("apPaterno", new {@class="text-danger"})
            </div>
            <div>
                @Html.LabelFor(p=>p.apMaterno)
                @Html.TextBoxFor(p=>p.apMaterno, new {@class="form-control"})
                @Html.ValidationMessage("apMaterno", new {@class="text-danger"})
            </div>
            <div>
                @Html.LabelFor(p=>p.fechaContrato)
                @Html.EditorFor(p=>p.fechaContrato, new { htmlAttributes= new {@class="form-control"}})
                @Html.ValidationMessage("fechaContrato", new {@class="text-danger"})
            </div>
            <div>
                @Html.LabelFor(p=>p.sueldo)
                @Html.TextBoxFor(p=>p.sueldo, new {@class="form-control"})
                @Html.ValidationMessage("sueldo", new {@class="text-danger"})
            </div>
            <div>
                @Html.LabelFor(p => p.iidTipoUsuario)
                @Html.DropDownList("iidTipoUsuario",listatipousuario,null, new { @class="form-control"})
                @Html.ValidationMessage("iidTipoUsuario", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(p => p.iidTipoContrato)
                @Html.DropDownList("iidTipoContrato",listatipocontrato,null, new { @class="form-control"})
                @Html.ValidationMessage("iidTipoContrato", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(p => p.iidsexo)
                @Html.DropDownList("iidsexo",listaSexo,null, new { @class="form-control"})
                @Html.ValidationMessage("iidsexo", new { @class = "text-danger" })
            </div>
            <br/>
            <div>
                <input type="submit" value="Guardar" class="btn btn-primary"/>
            </div>
        }
    </div>
</div>